@charset "utf-8";

html {
  background-color: #f7f7f7;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
article, aside, details, figcaption, figure, footer, header, hgroup, iframe, menu, nav, section /*h5新增元素*/{
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, iframe, menu, nav, section {
  display: block;
}
body, button, input, select, textarea {
  font: 12px/1.5 Microsoft YaHei, Arial, helvetica, sans-serif;
}

b, cite, code, em, i, small, th {
  font-style: normal;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button, input, select, textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button, input[type=button], input[type=submit] {
  cursor: pointer;
}
button[disabled], input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, iframe, img {
  border: 0;
}
img {
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}
ol, ul {
  list-style: none;
}
input,
textarea,
a{
  outline:none;
}
a{
  text-decoration: none;
}

q:after, q:before {
  content: '';
}

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */


@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
  a:active {
    background-color: transparent;
  }
}
